<div>
  <%= image_tag @post.get_image %>
  <p>ショップ名：<%= @post.shop %></p>
  <p>説明：<%= @post.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
  <p>ユーザーネーム：<%= @post.member.name %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y年%m月%d日') %></p>
  <% if @post.member == current_member %>
    <%= link_to "削除", post_path(@post.id), method: :delete %>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.member.get_profile_image(100,100) %></p>
    <%= comment.member.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment_body %>
    <% if comment.member == current_member %>
      <%= link_to "削除", post_comment_path(comment.post, comment.id), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment_body, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>