<div>
  <h3><%= @member.name %></h3>
  <%= image_tag @member.get_profile_image(100,100) %>
  <% if @member == current_member %>
   <p><%= link_to "プロフィール編集", edit_member_path(@member.id) %></p>
  <% end %>
</div>


<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post.member.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= post.shop %></p>
  <p>説明：<%= post.caption %></p>
  <p>ユーザーネーム：<%= post.member.name %></p>
</div>
<% end %>